# Настройки подключения к бирже
EXCHANGE_ID=binance

# ВАШИ КЛЮЧИ (Получите их в кабинете биржи)
API_KEY=your_api_key_here
API_SECRET=your_api_secret_here

# Использовать ли тестовую сеть (Testnet) - виртуальные деньги
USE_TESTNET=True
